#game-view {
    -fx-background-color: #5466c0;
}

#lines-h-box, #next-v-box {
    -fx-background-color: black;
    -fx-border-width: 5;
    -fx-border-color: #f51641;
}

#lines-h-box > Text,
#next-v-box > Text {
    -fx-font-size: 30;
    -fx-fill: white;
}

#lines-h-box {
    -fx-alignment: baseline-center;
}


#right-v-box {
    -fx-background-color: burlywood;
    -fx-spacing: 20;
}

#game-data-pane {
    -fx-hgap: 20;
}

#game-data-pane,
#description-pane {
    -fx-vgap: 5;
    -fx-font-size: 15;
}


#description-pane > .label {
    -fx-max-width: 100;
}


#version-hyperlink {
    -fx-font-size: 15;
    -fx-text-fill: blueviolet;
}